

//$body-bg: #646363;
//$body-color: #0f0f0f;


@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap');

:root{

  --bs-body-font-family:'MuseoModerno';
}

div{
 font-family: 'MuseoModerno';


}

.logo-nav{

  



}

/* Sidebar */
.sidebar {
   
    text-emphasis-color: blue;
    left: 0;
    padding: 10px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 100%;
  
  }
  
 
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(37, 11, 129, 0.16), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }


.border-logo{

  border: 8px solid transparent;
  padding: 15px;

  border-image: url("../resources/imgs/interfaz_scifi01.png") 30 round;



}


/* SOCIAL MEDIA ICONS*/
.fa {
    padding: 20px;
  
    
    text-decoration: none;
    margin: 3px 0px 0px 5px;
    
    border-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;

    transition: transform 0.3s linear;

    
  }
  
  .fa:hover {
    opacity: 0.7;

    border-color:black;
    border-bottom-style: solid;

    transform: translateY(-5px);

}


.fa-facebook {
    background: #3B5998;
    color: white;

    border-radius: 25%;
    border-color: blue;

    border-width: 5px;

  }

  .nacontent{

    padding: 3px;
    height: 85vh;
    
  }

  .moveheight{

    height: 10vh;
    top:500px;

  }





#vizual{

  top: 0px;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}


#back3d{

  z-index: 1;
}

div.boxsc{


    overflow-y: scroll;

    height: 70vh;
    width: 100%;


}

.content-green{

  opacity: 0.8;

  background-color: rgb(79, 122, 77);

  height: 70vh;
  width: 96vw;

  position: absolute;
  z-index: -1;

}


.subbox{
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: #2afff4;
  border-width: 5px;
  border-radius: 0px 20px 20px 20px;
  padding: 15px;


}

.subboxtext{

  overflow-y: scroll;

  font-size: 25px;
  color: aquamarine;
  background-color: black;
  padding: 20px;
  border-bottom-width: 20px;
  border-radius: 0px 20px 20px 20px;

  height: 56vh;
  width: 40vw;
 

}

/**AVATAR style*/

.avatar{

  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color: #20bfb7; 

}


$input-color-text: #fff;

$form-text-color: #fff;



@import "../node_modules/bootstrap/scss/bootstrap";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/material-icons/iconfont/material-icons.css";